body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    text-align: center;
    padding: 20px 0;
    background-color: #e74c3c; 
    color: #fff;
    width: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.reserva {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border: 1px solid #e74c3c; 
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(33.33% - 40px);
    box-sizing: border-box;
    text-align: center;
}

.reserva h2 {
    background-color: #e74c3c; 
    color: #fff;
    padding: 10px;
    margin: 0 0 10px 0;
}

button[type="submit"], a button {
    background-color: #e74c3c; 
    color: #fff;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover, a button:hover {
    background-color: #e74c3c; 
}

button[type="submit"] span, a button span {
    font-weight: bold;
}