{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'tournament/team/team.css' %}">
    <title>Crear equipo</title>
</head>
<body>
    <div class="mainBox">
        <form class="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="box">
                <legend class="box__legend">
                    <img src="{% static 'tournament/team/images/group.png' %}" class="box__legend-img">
                    {{ form.avatar }}
                </legend>

                <div class="box__pass">
                    <div class="box__pass-container" id="newpass1">
                        {{ form.name }}
                    </div>
                    <div class="box__pass-container" id="newpass2">
                        {{ form.color }}
                    </div>
                </div>
    
                <div class="box__containerSubmit">
                    <button class="box__containerSubmit-button" type="submit">Crear</button>
                </div>

                <div class="box__containerLogo">
                    <a href="{% url 'index' %}"><img class="box__containerLogo-img" src="{% static 'register/images/logo.png' %} " alt="Logo"></a>
                </div>
            </fieldset>
        </form>
        <div class="cancel">
            <a class="cancel__link" href="{% url 'tournament' %}">Cancelar</a>
        </div>
    </div>
    <script
        src="https://kit.fontawesome.com/81581fb069.js"
        crossorigin="anonymous"
    ></script>
    <script src="{% static 'tournament/team/team.js' %}"></script>
</body>
</html>