{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="icon" href="{% static 'favicon/logo.png' %}" type="image/x-icon">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'messages/crud/messages.css' %}">
    <title>Document</title>
</head>
<body>
    
</body>
</html>
<html>
<head>
    <title>Equipos de fútbol</title>
    <link rel="stylesheet" href="{% static 'tournament/tournament_team/tournament_team.css' %}">
</head>
    <h1>Equipos del torneo {{ tournament.name }}</h1>
    <h2>Estado del torneo: 
        {% if tournament.active %}
        <span style="color: green;">Activo</span>
        {% else %}
        <span style="color: #CB4335;">Finalizado</span>
        {% endif %}
    </h2>

    {% if messages %}
        {% for msg in messages %}
        <div class="message-container" style="margin: 0;">
            <span group="messages"
            class="
                {% if msg.tags == 'success' %}message-success{% endif %}
                {% if msg.tags == 'error' %}message-error{% endif %}
                {% if msg.tags == 'info' %}message-info{% endif %}
            "
            >
                {{ msg.message|safe }}
            </span>
        </div>
        {% endfor %}
    {% endif %}
    
    {% if not tournament.active %}
    <div class="indicate-winner">
        {% if tied %}
        <div style="border-color: black; box-shadow: 0 0 1.2rem 0.2rem #6E2C00">
            <span id="tied" style="color: #6E2C00;">{{ winner_team }}</span>
        </div>
        {% else %}
            <div style="border-color: black; box-shadow: 0 0 1.2rem 0.2rem {{ winner_team.hexcolor }};">
                <span style="font-size: 1.2rem;">El ganador es:</span>
                <span id="winner" style="color: {{ winner_team.hexcolor }};">{{ winner_team.name }}</span>

                {% if winner_team.user_id == user.id %}
                <span style="font-size: 1.4rem;">🤩TU EQUIPO🤩</span>
                {% endif %}
            </div>
        {% endif %}
    </div>
    {% endif %}

    <div class="form" method="post">
        <table border="1">
            <thead class="boardHead">
                <tr class="boardHead__list" id="titles">
                    <th><div style="display: grid; place-items: center;">
                        <span>Posición</span>
                    </div></th>
                    <th><div style="display: grid; place-items: center;">
                        <span>Imágen del equipo</span>
                    </div></th>
                    <th id="team__id"><div>
                        <span>Nombre del equipo</span>
                        <button onclick="sendJsonFilter('team__id')"><i class="fa-solid fa-filter"></i></button>
                    </div></th>
                    <th id="goals_for"><div>
                        <span>Goles a favor</span>
                        <button onclick="sendJsonFilter('goals_for')"><i class="fa-solid fa-filter"></i></button>
                    </div></th>
                    <th id="goals_against"><div>
                        <span>Goles en contra</span>
                        <button onclick="sendJsonFilter('goals_against')"><i class="fa-solid fa-filter"></i></button>
                    </div></th>
                    <th id="goals_diff"><div>
                        <span>Diferencia de goles</span>
                        <button onclick="sendJsonFilter('goals_diff')"><i class="fa-solid fa-filter"></i></button>
                    </div></th>
                    <th id="games_tied"><div>
                        <span>Partidos empatados</span>
                        <button onclick="sendJsonFilter('games_tied')"><i class="fa-solid fa-filter"></i></button>
                    </div></th>
                    <th id="games_won"><div>
                        <span>Partidos ganados</span>
                        <button onclick="sendJsonFilter('games_won')"><i class="fa-solid fa-filter"></i></button>
                    </div></th>
                    <th id="games_lost"><div>
                        <span>Partidos perdidos</span>
                        <button onclick="sendJsonFilter('games_lost')"><i class="fa-solid fa-filter"></i></button>
                    </div></th>
                    <th id="games_played"><div>
                        <span>Partidos jugados</span>
                        <button onclick="sendJsonFilter('games_played')"><i class="fa-solid fa-filter"></i></button>
                    </div></th>
                    <th id="score"><div>
                        <span>Puntos</span>
                        <button onclick="sendJsonFilter('score')"><i class="fa-solid fa-filter"></i></button>
                    </div></th>
                    {% if user.is_staff and tournament.active %}
                    <th><div style="display: grid; place-items: center;"><span>Guardar información</span></div></th>
                    {% endif %}
                </tr>
            </thead>
        
            <tbody class="boardBody" id="equipoTableBody">
                {% for team in teams %}

                    {% if user.is_staff and tournament.active %}
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="intermediate_id" value="{{ team.id }}">
                        <tr class="boardHead__list" id="titles"> 
                            {% for team_position in teams_position %}
                                {% if team_position.0 == team.team.id %}
                                <td 
                                    style="
                                        {% if team_position.2 == 1 %}
                                            background-color: #F7DC6F;
                                        {% elif team_position.2 == 2 %}
                                            background-color: #D5DBDB;
                                        {% elif team_position.2 == 3 %}
                                            background-color: #d2a172;
                                        {% endif %}
                                    "
                                >
                                    <span style="font-weight: bold;">{{ team_position.2 }}</span>   
                                </td>
                                {% endif %}
                            {% endfor %}
                            <td>
                                <span>
                                    <img src="{{ team.team.avatar.url }}" alt="">
                                </span>
                            </td>
                            <td><span>
                                <a href="{% url 'tournament_players' tournament.id team.team.id %}" id="teamName" style="color: {{ team.team.hexcolor }};">{{ team.team.name }}</a>
                            </span></td>
                            <td><span>{{ form.goals_for }}</span></td>
                            <td><span>{{ form.goals_against }}</span></td>
                            <td><span><input type="number" class="inf" disabled></span></td>
                            <td><span>{{ form.games_tied }}</span></td>
                            <td><span>{{ form.games_won }}</span></td>
                            <td><span>{{ form.games_lost }}</span></td>
                            <td><span><input type="number" class="inf" disabled></span></td>
                            <td class="score_value"><span><input type="number" class="inf" disabled></span></td>
                            <td>
                                <div class="buttons__container" id="save">
                                    <button type="submit" id="submit"><i class="fa-solid fa-floppy-disk"></i></button>
                                </div>
                            </td>
                        </tr>
                    </form>
                    {% elif not user.is_staff or not tournament.active %}
                    
                    <tr class="boardHead__list" id="titles">
                        {% for team_position in teams_position %}
                                {% if team_position.0 == team.team.id %}
                                <td 
                                    style="
                                        {% if team_position.2 == 1 %}
                                            background-color: #F7DC6F;
                                        {% elif team_position.2 == 2 %}
                                            background-color: #D5DBDB;
                                        {% elif team_position.2 == 3 %}
                                            background-color: #d2a172;
                                        {% endif %}
                                    "
                                >
                                    <span style="font-weight: bold;">{{ team_position.2 }}</span>   
                                </td>
                                {% endif %}
                        {% endfor %}
                        <td>
                            <span>
                                <img 
                                src="{{ team.team.avatar.url }}" 
                                alt="" 
                                style="border: 0.5rem dotted {{ team.team.hexcolor }};">
                            </span>
                        </td>

                        <td>
                            <span>{{ team.team.name }}</span>
                        </td>

                        <td><span><input type="number" class="inf" disabled></span></td>
                        <td><span><input type="number" class="inf" disabled></span></td>
                        <td><span><input type="number" class="inf" disabled></span></td>
                        <td><span><input type="number" class="inf" disabled></span></td>
                        <td><span><input type="number" class="inf" disabled></span></td>
                        <td><span><input type="number" class="inf" disabled></span></td>
                        <td><span><input type="number" class="inf" disabled></span></td>
                        <td class="score_value"><span><input type="number" class="inf" disabled></span></td>
                    </tr>

                    {% endif %}
                {% endfor %}
            </tbody>
        </table>

        <div class="buttons">
            <div class="buttons__container">
                <a href="{% url 'tournament' %}"><button type="button">Salir</button></a>
            </div>

            {% if user.is_staff and tournament.active %}
            <div class="buttons__container">
                <button type="button" id="finalizar">Finalizar torneo
                    <div class="sure-container">
                        ¿Estás seguro?
                        <div class="sure-container-links">
                            <a href="{% url 'tournament_cancel' tournament.id %}">SI</a>
                            <a href="{% url 'tournament_teams' tournament.id 'score' %}">NO</a>
                        </div>
                    </div>
                </button>
            </div>
            {% endif %}
        </div>
    </div>

    <ul style="display: none;">
        {% for team in teams %}
        <li class="infToPut">{{ team.goals_for }}</li>
        <li class="infToPut">{{ team.goals_against }}</li>
        <li class="infToPut">{{ team.goals_diff }}</li>
        <li class="infToPut">{{ team.games_tied }}</li>
        <li class="infToPut">{{ team.games_won }}</li>
        <li class="infToPut">{{ team.games_lost }}</li>
        <li class="infToPut">{{ team.games_played }}</li>
        <li class="infToPut">{{ team.score }}</li>
        {% endfor %}

        <!--Ayuda a evitar bug de addeventlistener-->
        <span id="finalizar" hidden disabled></span>
        <span class="sure-container" hidden disabled></span>
    </ul>

    <span class="tournament_id" id="{{ tournament.id }}" hidden disabled></span>
    <span class="filter_name" id="{{ filter }}" hidden disabled></span>
    <script src="https://kit.fontawesome.com/81581fb069.js"></script>
    <script>
        const inputValue = document.querySelectorAll('.inf')
        const information = document.querySelectorAll('.infToPut')
        const finishButton = document.querySelector('#finalizar')
        const sureContainer = document.querySelector('.sure-container')
        const ths = document.querySelectorAll('th')
        let tournamentId = document.querySelector('.tournament_id').id
        let filterName = document.querySelector('.filter_name').id

        function getCSRFToken() {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.startsWith('csrftoken=')) {
                    return cookie.split('=')[1];
                }
            }
            return null;
        }

        function sendJsonFilter(filter) {
            fetch(`/tournament/teams/filter/`, {
                method: 'POST', 
                headers: {
                    'X-CSRFToken': getCSRFToken(),
                },
                body: JSON.stringify({
                    'filter': `${filter}`,
                    'tournament_id': `${tournamentId}`,
                }),
            })
            .then(response => {
                if (response.redirected) {
                    window.location.href = response.url;
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

        function setValues() {
            information.forEach((element, i) => {
                inputValue[i].value = element.innerHTML
            })
        }

        function setColorFilter() {
            ths.forEach(element => {
                if (element.id == filterName) {
                    element.style.backgroundColor = "#D5D8DC";
                }
            })
        }

        finishButton.addEventListener('click', (e) => {
            sureContainer.style.display = 'block'
        })

        setColorFilter()
        setValues()
    </script>
    <script src="{% static 'messages/messages.js' %}"></script>
</body>
</html>