/* ********************************** */
/*               MAIN                 */
/* ********************************** */

.main {
	display: flex;
	flex-direction: column;
}

.teamCreatedButtons {
	display: flex;
	justify-content: space-evenly;
}

.main-top{
	display: grid;
	place-items: center;
	margin-top: 2rem;
}

.main-top-button{
	color: #fff;
	background-color: #c63424;
	padding: 1.5rem;
	border-radius: 1rem;
	text-decoration: none;
	font-size: 1.6rem;
	font-weight: 600;
}

.main-top-button:hover{
	cursor: pointer;
	background-color: #da4332;
}

.info-torneo{
	margin: 1.2rem 0;
}

.info-torneo .cuadros{
	margin: 0.4rem;
	text-align: center;
}

.info-torneo .cuadros li, p, h2{
	list-style-type: none;
	font-family: Arial, Helvetica, sans-serif;
}

.tarjeta {
	display: flex;
	justify-content: center;
}

.tarjeta .box{
	width: 30rem;
	padding: 1rem 0;
	padding-bottom: 3rem;
	border-style: solid;
	border-radius: 22px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	margin: 28px 15px;
	text-align: center;
	transition: all 0.25s;
}

.tarjeta .box:hover{
	transform: translateY(-15px);
	box-shadow: 0 12px 16px rgb(240, 52, 52);
}

.tarjeta .titulos {
	font-size: 1.23rem;
}

.tarjeta .box img{
	width: 20rem;
}

.tarjeta .box h4{
	margin-top: 12px;
	font-weight: 600;
}

.tarjeta .box p {
	margin-top: 12px;
	padding: 0 1rem;
	font-weight: 300;
	font-size: 1.55rem;
	font-style: normal;
}

.tarjeta .box a{
	text-decoration: none;
	color: #CB4335;
	font-size: 3rem;
}

form {
	place-items: center;
	display: grid;
}

.boton2 {
	color: #fff;
	margin-top: 45px;
	background-color: #c63424;
	border-radius: 10px;
	border-color: rgb(0, 0, 0);
	width: 200px;
	height: 40px;
	text-decoration: none;
	font-size: 1.3rem;
	font-weight: 600;
}

.boton2:hover{
	background-color: #da4332;
}

.boton2:disabled {
	color: #fff;
	margin-top: 45px;
	background-color: gray;
	border-radius: 10px;
	border-color: rgb(0, 0, 0);
	width: 200px;
	height: 40px;
	text-decoration: none;
	font-size: 1.3rem;
	font-weight: 600;
}

.boton2:disabled:hover {
	background-color: gray;
}

select, option {
	background-color: #FBFCFC;
	width: 150px;
	height: 25px;
}