{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'favicon/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'profile/styles/profile.css' %}">
    <link rel="stylesheet" href="{% static 'header/header2.css' %}">
    <link rel="stylesheet" href="{% static 'sale/status/status.css' %}">
    <link rel="stylesheet" href="{% static 'messages/messages.css' %}">
    <script src="https://kit.fontawesome.com/6117eaa017.js" crossorigin="anonymous"></script>
    <title>Perfil</title>
</head>
<body>
    <header>
        {% if messages %}
            {% for msg in messages %}
            <div class="message-container" style="margin: 0;">
                <span group="messages"
                class="
                    {% if msg.tags == 'success' %}message-success{% endif %}
                    {% if msg.tags == 'error' %}message-error{% endif %}
                    {% if msg.tags == 'info' %}message-info{% endif %}
                "
                >
                    {{ msg.message|safe }}
                </span>
            </div>
            {% endfor %}
        {% endif %}
        <div class="container-hero">

            <div class="container hero">
                <div class="customer-support">
                    {% if user.is_staff and user.is_authenticated %}
                    
                    <a href="{% url 'sale_historic' %}" class="content-customer-support" style="text-decoration: none;">
                        <button class="button-db">
                            <i class="fa-solid fa-coins"></i> <span>Ventas</span>
                        </button>             
                    </a>

                    {% else %}

                    <i class="fa-solid fa-user" id="indexIcon"></i>
                    <div class="content-customer-support">
                        <span class="numberTop">PERFIL</span>             
                    </div>

                    {% endif %}
                </div>

                <div class="container-logo">
                    <a class="logo" href="/"></a>
                </div>

                <div class="container-user">
                    {% if user.is_authenticated %}
                    <div class="linePerfil">
                    </div>
                    <div class="carAndPerfil" id="perfil">
                        <a href="{% url 'profile' %}"><img style="box-shadow: 0 0 1.2rem 0.25rem var(--primary-color);" src="{{ user.avatar.url }}"></a>
                        <ul class="perfilDropDown">
                            <li><a href="{% url 'profile' %}">Ver perfil</a></li>
                            {% if not user.is_staff %}
                            <li><a href="{% url 'sale_historic' %}">Historial</a></li>
                            {% endif %}
                            <li><a href="{% url 'signout' %}">Cerrar sesión</a></li>
                        </ul>
                    </div>

                    {% else %}

                    <div class="container-linkUser">
                        <a class="linkUser" id="register" href="{% url 'register' %}">Regístrate</a></span>
                        <a class="linkUser" id="signin" href="{% url 'signin' %}">Iniciar sesión</a>
                    </div>

                    {% endif %}
                </div>
            </div>
        </div>

        <div class="container-navbar">
            <nav class="navbar container">
                <i class="fa-solid fa-bars" id="dropdown"></i>
                <ul class="menu">
                    <li><a href="{% url 'index' %}">Inicio</a></li>
                    {% if not user.is_staff %}
                    <li><a href="{% url 'store' %}">Productos</a></li>
                    {% endif %}
                    {% if user.is_staff and user.is_authenticated %}
                    <li><a href="{% url 'inventory' %}">Inventario</a></li>
                    {% endif %}
                    <li><a href="{% url 'reserve' %}">Reservas</a></li>
                    <li><a href="{% url 'tournament' %}">Torneos</a></li>
                </ul>
                <ul class="menuDropDown" hidden>
                    <li hidden><a href="{% url 'index' %}">Inicio</a></li>
                    {% if not user.is_staff %}
                    <li><a href="{% url 'store' %}">Productos</a></li>
                    {% endif %}
                    {% if user.is_staff and user.is_authenticated %}
                    <li hidden><a href="{% url 'inventory' %}">Inventario</a></li>
                    {% endif %}
                    <li hidden><a href="{% url 'reserve' %}">Reservas</a></li>
                    <li hidden><a href="{% url 'tournament' %}">Torneos</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="main">
        <form class="main-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="box">
                <legend class="box__legend">
                    <img class="box__legend-img" src="{{ user.avatar.url }}" alt="Foto de perfil">

                    <div id="modificadorInputFile">
                        <img class="box__legend-imgDef" src="{{ user.avatar.url }}" hidden>
                        <img class="box__legend-imgIndication" src="{% static 'profile/images/imagen.png' %}" hidden>
                        {{ form.avatar }}
                    </div>
                </legend>

                <div class="box__name">
                    {{ form.first_name }}
                    {{ form.last_name }}

                    <span class="box__name-text" id="text_name"></span>
                </div>

                <div class="leftAndRight">
                    <div class="box__left">
                        <div class="box__left-title">
                            <h3 class="box__left-title-rango">Rango<i class="fa-solid fa-circle-question fa-2xs"></i></h3>
                            <div class="container_inf_rango" hidden>
                                <span class="inf_rango">
                                    {% if user.is_staff %}
                                    Eres administrador de BoliPola
                                    {% else %}
                                    Ganas puntos cada vez que completas una compra, entre más puntos más subirás tu rango :)
                                    {% endif %}
                                </span>
                            </div>
                            <h2 class="box__left-title-value" id="rangeName" style="color: {{user.range_alias.0}};">{{ user.range_alias.1 }}</h2>
                        </div>
                        <div class="box__left-box">
                            <div class="box__left-box-edit">
                                <button type="button" class="box__left-box-edit-button" name="editAndMore"><i class="fa-solid fa-pen-to-square"></i></button>
                            </div>
                            <div class="box__left-box-inf">
                                <span class="box__left-box-inf-span">
                                    <i class="fa-solid fa-venus-mars"></i>{{ form.gender }}
                                </span>
                                <span class="box__left-box-inf-span">
                                    <i class="fa-solid fa-phone"></i>{{ form.phone }}
                                </span>
                                <span class="box__left-box-inf-span">
                                    <i class="fa-solid fa-envelope"></i>
                                    <input type="email" class="box__left-box-inf-span-input" id="unique" value="{{ user.email }}" disabled>
                                </span>
                                <span class="box__left-box-inf-span">
                                    <i class="fa-solid fa-cake-candles"></i>{{ form.birthdate }}<span class="box__left-box-inf-span-age">{{ user.age }} años</span>
                                </span>
                            </div>
                            <div class="box__left-box-changePass">
                                <a class="box__left-box-changePass-a" href="{% url 'change_password' %}" hidden>¿Cambiar contraseña?</a>
                            </div>
                        </div>
                    </div>
                    <div class="box__right">
                        <div class="titleAndList">
                            <h4 id="adminTitleList">
                                Compras recientes{% if not user.is_staff %}:{% endif %}
                                {% if user.is_staff %}
                                    de clientes:
                                {% endif %}
                            </h4>
                            <div class="box__right-list">
                                {% if shoppings %}
                                    {% for shop in shoppings %}
                                    <div class="box__right-list-element" id="{{ shop.status_number }}" onclick="go(`{% url 'sale_information' shop.id %}`)">
                                        {% if shop.type == 'Torneo' %}
                                        <i class="fa-solid fa-users fa-xl"></i>
                                        {% elif shop.type == 'Productos' %}
                                        <i class="fa-solid fa-cart-shopping fa-xl"></i>
                                        {% elif shop.type == 'Reserva' %}
                                        <i class="fa-solid fa-face-laugh-wink fa-xl"></i>
                                        {% else %}
                                        <i class="fa-solid fa-cake-candles fa-xl"></i>
                                        {% endif %}
                                        <div class="titleAndDesc">
                                            <h3 class="box__right-list-element-title">
                                                {{ shop.type }}
                                            </h3>
                                            <p class="box__right-list-element-desc">{{ shop.date.date }}</p>
                                        </div>
                                    </div>
                                    {% endfor %}
                                {% else %}
                                <div class="box__right-list-none" name="none">
                                    <img class="box__right-list-none-img" src="{% static 'profile/images/nada.png' %}">
                                    <span class="box__right-list-none-span">No hay nada que mostrar</span>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="box__right-moreList">
                            <a href="{% url 'sale_historic' %}">
                                <button type="button" class="box__right-moreList-button" name="editAndMore"><i class="fa-solid fa-list"></i></button>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="box__bottom">
                    <div class="box__bottom-cancel">
                        <button class="box__bottom-saveOrCancel-button" id="cancel" type="button" hidden>Cancelar</button>
                    </div>
                    <div class="box__bottom-logo">
                        <a href="{% url 'index' %}">
                            <img class="box__bottom-logo-img" src="{% static 'register/images/logo.png' %}" alt="Logo">
                        </a>
                    </div>  
                    <div class="box__bottom-save">
                        <button class="box__bottom-saveOrCancel-button" id="save" type="submit" hidden>Guardar</button>
                    </div> 
                </div>
            </fieldset>
        </form>

        <div class="containerSignout">
            <a class="containerSignout__a" href="{% url 'signout' %}">Cerrar sesión</a>
        </div>
    </div>


    <!--Detectando fechas y color de rango para el js-->
    <span class="birthdateDay" hidden>{{ user.birthdate.day }}</span>
    <span class="birthdateMonth" hidden>{{ user.birthdate.month }}</span>
    <span class="birthdateYear" hidden>{{ user.birthdate.year }}</span>

    <script src="{% static 'profile/profile.js' %}"></script>
    <script>
        function go(url) {
          window.location.href = url;
        }
    </script>
    <script src="{% static 'header/header.js' %}"></script>
    <script src="{% static 'messages/messages.js' %}"></script>
    <script src="{% static 'cooldown_buy/cooldown.js' %}"></script>
</body>
</html>