{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="icon" href="{% static 'favicon/logo.png' %}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservas</title>
    <link rel="stylesheet" href="{% static 'event/event.css' %}">
    <link rel="stylesheet" href="{% static 'reserve/styles/reserve.css' %}">
    <link rel="stylesheet" href="{% static 'header/header.css' %}">
</head>
<body>
    {% if not user.is_authenticated %}

    <script>
        window.location.href = "{% url 'signin' %}";
    </script>

    {% endif %}

    <header>
        {% if messages %}
            {% for msg in messages %}
            <div class="message-container">
                <span group="messages"
                class="
                    {% if msg.tags == 'success' %}message-success{% endif %}
                    {% if msg.tags == 'error' %}message-error{% endif %}
                    {% if msg.tags == 'info' %}message-info{% endif %}
                "
                >
                    {{ msg.message|safe }}
                </span>
            </div>
            {% endfor %}
        {% endif %}
        <div class="container-hero">

            <div class="container hero">
                <div class="customer-support">
                    {% if user.is_staff and user.is_authenticated %}
                    
                    <div class="container-button-db">
                        <a href="{% url 'admin:index' %}">
                            <button class="button-db">
                                <i class="fa-solid fa-database"></i><span>Base de datos</span>
                            </button>  
                        </a>          
                    </div>

                    {% else %}

                    <i class="fa-regular fa-calendar" id="indexIcon"></i>
                    <div class="content-customer-support">
                        <span class="numberTop">RESERVAS</span>             
                    </div>

                    {% endif %}
                </div>

                <div class="container-logo">
                    <a class="logo" href="/"></a>
                </div>

                <div class="container-user">
                    {% if user.is_authenticated %}
                    <div class="linePerfil">
                    </div>
                    <div class="carAndPerfil" id="perfil">
                        <a href="{% url 'profile' %}"><img src="{{ user.avatar.url }}"></a>
                        <ul class="perfilDropDown">
                            <li><a href="{% url 'profile' %}">Ver perfil</a></li>
                            <li><a href="{% url 'signout' %}">Cerrar sesión</a></li>
                        </ul>
                    </div>

                    {% else %}

                    <div>
                        <a class="linkUser" id="register" href="{% url 'register' %}">Regístrate</a></span>
                        <a class="linkUser" id="signin" href="{% url 'signin' %}">Inicia sesión</a>
                    </div>

                    {% endif %}
                </div>
            </div>
        </div>

        <div class="container-navbar">
            <nav class="navbar container">
                <i class="fa-solid fa-bars" id="dropdown"></i>
                <ul class="menu">
                    <li><a href="{% url 'index' %}">Inicio</a></li>
                    {% if not user.is_staff %}
                    <li><a href="{% url 'store' %}">Productos</a></li>
                    {% endif %}
                    {% if user.is_staff and user.is_authenticated %}
                    <li><a href="{% url 'inventory' %}">Inventario</a></li>
                    {% endif %}
                    <li><a href="{% url 'reserve' %}">Reservas<span></span></a></li>
                    <li><a href="{% url 'tournament' %}">Torneos</a></li>
                </ul>
                <ul class="menuDropDown" hidden>
                    <li hidden><a href="{% url 'index' %}">Inicio</a></li>
                    {% if not user.is_staff %}
                    <li><a href="{% url 'store' %}">Productos</a></li>
                    {% endif %}
                    {% if user.is_staff and user.is_authenticated %}
                    <li hidden><a href="{% url 'inventory' %}">Inventario</a></li>
                    {% endif %}
                    <li hidden><a href="{% url 'reserve' %}">Reservas<span></span></a></li>
                    <li hidden><a href="{% url 'tournament' %}">Torneos</a></li>
                    {% if user.is_staff and user.is_authenticated %}
                    <li hidden><a href="{% url 'admin:index' %}">Base de datos</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    {% if user.is_staff %}
        <div class="admin">
            <a href="/admin/core/calendar/add/">
                <button>Establecer disponibilidad</button>
            </a>
        </div>
    {% endif %}

    <div class="container">
        <div class="reserva">
             <h2 class="reservas">Boliranas</h2>
             <img src="{% static 'reserve/images/bolirana.jpg' %}" class="reference-img"/>
             {% if not user.is_staff %}
             <p>¡Reserva ya tu<br>Bolirana!</p>
             <a href="{% url 'bolirana_form' %}">
                <button>Reservar Boliranas</button>
             </a>
             {% endif %}
        </div>
        
        <div class="reserva">
            <h2 class="reservas">Canchas de Futbol</h2>
            <img src="{% static 'reserve/images/court.jpg' %}" class="reference-img"/>
            {% if not user.is_staff %}
            <p>¡Reserva ya la<br>cancha de futbol!</p>
            <a href="{% url 'court_form' %}">
                <button>Reservar Cancha</button>
            </a>
            {% endif %}
        </div>
    
        <div class="reserva">
            <h2 class="reservas">Mesas</h2>
            <img src="{% static 'reserve/images/tables.jpg' %}" class="reference-img"/>
            {% if not user.is_staff %}
            <p>¡Reserva ya<br>tu mesa!</p>
            <a href="{% url 'tables_form' %}">
                <button>Reservar Mesa</button>
            </a>
          {% endif %}
        </div>
    </div>

    <script
        src="https://kit.fontawesome.com/81581fb069.js"
        crossorigin="anonymous"
    ></script>
    <script>
        function mostrarOtra() {
            var selectElement = document.getElementById("tipo");
            var otraInput = document.getElementById("otraInput");
        
            if (selectElement.value === "Otra") {
                otraInput.style.display = "block";
            } else {
                otraInput.style.display = "none";
            }
        }
        </script>
    <script src="{% static 'header/header.js' %}"></script>
</body>
</html>