{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="icon" href="{% static 'favicon/logo.png' %}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="{% static 'store/store.css' %}">
    <link rel="stylesheet" href="{% static 'header/header.css' %}">
    <link rel="stylesheet" href="{% static 'messages/messages.css' %}">
</head>
<body closeCar>
    {% if not user.is_authenticated %}

    <script>
        window.location.href = "{% url 'signin' %}";
    </script>

    {% endif %}

    <header>
        <div class="container-hero" closeCar>
            <div class="container hero" closeCar>
                <div class="customer-support" closeCar>
                    {% if user.is_staff and user.is_authenticated %}
                    
                    <div class="container-button-db" closeCar>
                        <a href="{% url 'admin:index' %}" closeCar>
                            <button class="button-db">
                                <i class="fa-solid fa-database"></i><span>Base de datos</span>
                            </button>  
                        </a>          
                    </div>

                    {% else %}

                    <i class="fa-brands fa-whatsapp" id="whatsappIcon" closeCar></i>
                    <div class="content-customer-support" closeCar>
                        <span class="numberTop" closeCar>+57 3202127187</span>             
                    </div>

                    {% endif %}
                </div>

                <div class="container-logo">
                    <a class="logo" href="{% url 'index' %}"></a>
                </div>

                <div class="container-user">
                    {% if user.is_authenticated %}
                    <div class="carAndPerfil" id="perfil">
                        <a href="{% url 'profile' %}"><img src="{{ user.avatar.url }}"></a>
                        <ul class="perfilDropDown">
                            <li><a href="{% url 'profile' %}">Ver perfil</a></li>
                            <li><a href="{% url 'signout' %}">Cerrar sesión</a></li>
                        </ul>
                    </div>
                    <div class="linePerfil" closeCar>
                    </div>
                    <div class="carAndPerfil" id="car">
                        <a href="#" class="shopping">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                    </div>
                    {% else %}

                    <div>
                        <a class="linkUser" id="register" href="{% url 'register' %}">Regístrate</a></span>
                        <a class="linkUser" id="signin" href="{% url 'signin' %}">Inicia sesión</a>
                    </div>

                    {% endif %}
                </div>
            </div>
        </div>

        <div class="container-navbar" closeCar>
            <nav class="navbar container" closeCar>
                <i class="fa-solid fa-bars" id="dropdown" closeCar></i>
                <ul class="menu" closeCar>
                    <li><a href="{% url 'index' %}">Inicio</a></li>
                    <li><a href="{% url 'store' %}">Productos <span></span></a></li>
                    <li><a href="{% url 'reserve' %}">Reservas</a></li>
                    <li><a href="{% url 'tournament' %}">Torneos</a></li>
                </ul>
                <ul class="menuDropDown" hidden closeCar>
                    <li hidden><a href="{% url 'index' %}">Inicio</a></li>
                    <li hidden><a href="{% url 'store' %}">Productos <span></span></a></li>
                    <li hidden><a href="{% url 'reserve' %}">Reservas</a></li>
                    <li hidden><a href="{% url 'tournament' %}">Torneos</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container" closeCar>
        {% if messages %}
            {% for msg in messages %}
            <div class="message-container">
                <span group="messages"
                class="
                    {% if msg.tags == 'success' %}message-success{% endif %}
                    {% if msg.tags == 'error' %}message-error{% endif %}
                    {% if msg.tags == 'info' %}message-info{% endif %}
                "
                >
                    {{ msg.message|safe }}
                </span>
            </div>
            {% endfor %}
        {% endif %}
        
        <div class="list" closeCar>
            <!--Se debe comparar fechas vencidas y productos disponibles para mostrar productos correctos al usuario-->
            {% for inventory in inventorys %}
                {% for available_date in available_dates %}
                    {% if not inventory.product_quantity <= 0 and available_date == inventory.id %}
                    <div class="item" closeCar>
                        <img src="{{ inventory.product.image.url }}" closeCar>
                        <div class="title" closeCar>{{ inventory.product.name }}</div>
                        <div class="price" closeCar>{{ inventory.product.cost_to_money }}</div>
                        <div class="quantity" closeCar>Disponible: <span>{{ inventory.product_quantity }}</span></div>
                        <div class="description" closeCar>{{ inventory.product.description }}</div>
                        <button class="Boton1" id="{{ inventory.id }}">Añadir al carrito</button>
                        <div class="price_number" hidden closeCar>{{ inventory.product.cost }}</div>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>

    <div class="card">
        <h1 class="card__title"><span><i class="fa-solid fa-cart-shopping"></i>Carrito</span></h1>
        <form action="" method="post">
            {% csrf_token %}
            <ul class="listCard">

            </ul>
                <div class="checkOut">
                    <h1 class="title">Total:</h1>
                    <h1 class="totalPrice">$0</h1>
                    <div class="closeShopping" group="down">Cerrar</div>
                <a href="{% url 'sale' car.id car.sale_type %}" class="total" group="down">Pagar</a>
            </div>
        </form>
    </div>

    <div class="loads" hidden>
        {% for car_inventory in cars_inventorys %}
        <span
            class="loads_span"
            id="{{ car_inventory.inventory.id }}"
            name="{{ car_inventory.inventory.product.name }}"
            price="{{ car_inventory.inventory.product.cost }}"
            image="{{ car_inventory.inventory.product.image.url }}"
            quantity="{{ car_inventory.quantity }}"
        ></span>        
        {% endfor %}
    </div>

    <script>
        let staticUrl = "{% static '' %}";
    </script>

    <script src="{% static 'store/store.js' %}"></script>

    <script
        src="https://kit.fontawesome.com/81581fb069.js"
        crossorigin="anonymous"
    ></script>
    
    <script src="{% static 'header/header.js' %}"></script>

    <script>
        lists_add = document.querySelectorAll(".Boton1")

        //Ayuda a obtener el token para hacer las funciones de forma correcta en el views
        function obtenerCSRFToken() {
            // Obtiene el token CSRF de las cookies
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.startsWith('csrftoken=')) {
                    return cookie.split('=')[1];
                }
            }
            return null;
        }

        function ejectFunction(inventory_id) {
            fetch(`{% url 'store_product_add' %}`, {
                method: 'POST',  // Puedes usar POST o GET según tus necesidades
                headers: {
                    'X-CSRFToken': obtenerCSRFToken(), // Asegúrate de incluir el token CSRF si lo necesitas
                },
                body: JSON.stringify({
                    inventory_id
                }),
            })
            .then(response => response.json())
            .then(data => {
                data
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

        lists_add.forEach((element, i) => {    
            element.addEventListener("click", () => {
                ejectFunction(Number(element.id))
            })
        })

    </script>
</body>
</html>