html {
    font-size: 100%;
}
body{
    height: 80rem;
}
.container {
    height: max-content;
    display: flex;
    width: 100%;
}
.container-2{
    width: max-content;
    display: grid;
    justify-content: center;
    position: relative;
    top: -46.2rem;
    right: -125rem;
}
.admin {
    position: relative;
    margin: 2rem 0;
    display: grid;
    place-items: center;
}

.admin button {
	color: #fff;
	background-color: #c63424;
	padding: 1.5rem;
    border: 0.2rem solid black;
	border-radius: 1rem;
	text-decoration: none;
	font-size: 1.6rem;
	font-weight: 600;
}

.admin button:hover {
    background-color: #a33529;
}
.calendary-availability{
    height: max-content;
    width: max-content;
}
.header-calendary{
    background-color: #cb4435e7;
    display: grid;
    justify-content: center;
    border: solid;
    border-radius: 3rem 3rem 0 0;
    height: 10rem;
}
#left-mounth{
    cursor: pointer;
    position: relative;
    right: 15rem;
    top: 3.3rem;
    font-size: 3rem;
}
#right-mounth{
    cursor: pointer;
    position: relative;
    right: -15rem;
    top: -4.3rem;
    font-size: 3rem;
}
#mounth{
    position: relative;
    right: 7.7rem;
    top: -0.3rem;
    font-size: 3rem;
}
.year{
    position: relative;
    right: -25rem;
    top: -7.8rem;
    font-size: 3rem;
}
.week{
    display: flex;
}
.day-weak{
    display: grid;
    place-items: center;
}
.days{
    color: black;
    border: none;
    box-shadow: rgba(128, 128, 128, 0.741) 0 0 3px;
    width: 9rem;
    cursor: pointer;
    background-color: white;
    height: 6rem;
}
.days:hover{
    background-color: #d9d8d8;
}
.name-days{
    border-bottom: solid;
    height: 4rem;
    display: grid;
    place-content: center;
    width: 9rem;
    font-size: 1.7rem;
}
.name-days:hover {
    background-color: #d9d8d8;
    cursor: pointer;
}
.calendary-day{
    height: 40.3rem;
    border-right: solid;
    border-left: solid;
    border-bottom: solid;
    border-radius: 0 0 3rem 3rem;
}
.info-show{
    background-color: #fe19008e;;
    position: relative;
    top: -27.5rem;
    right: -33rem;
    width: 17.9rem;
    border: dashed;
    border-radius: 1rem;
    display: none;
}
.info-show p{
    text-align: center;
    font-size: 2.9rem;
}
.info-show.visible{
    display: block;
}
.switch {
    position: relative;
    top: 1rem;
    right: -43rem;
    display: inline-block;
    width: 6rem;
    height: 3.4rem;
}
.availability{
    position: relative;
    top: -0.3rem;
    right: 29rem;
    font-size: 3rem;
    width: max-content;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    border-radius: 2rem;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    border-radius: 2rem;
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #CB4335;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.reserva {
    position: relative;
    right: 33rem;
    top: 5rem;
    background-color: #fff;
    padding: 1.4rem;
    margin: 1rem;
    border: solid; 
    border-radius: 3rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 50rem;
    width: 75%;
    max-width: 400px;
}

.reserva p{
    font-size: 2.2rem;
    padding: 1rem;
    margin: 1rem;
}

.reserva h2 {
    border-radius: 0.8rem;
    background-color: #CB4335; 
    color: #fff;
    padding: 0.625rem;
    margin: 0 0 0.625rem 0;
}

.reference-img {
    width: 25em;
    height: 25em;
}

.reservar-button{
    background-color: #CB4335; 
    color: #fff;
    border: solid black;
    border-radius: 2rem;
    padding: 1rem;
    cursor: pointer;
}

button:hover, a button:hover {
    background-color: #d53624; 
}

.form-calendar {
	position: absolute;
	display: none;
    top: 6rem;
	width: fit-content;
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
	border: 0.2rem solid #CB4335;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
	z-index: 9102;
}
  
.form-calendar form {
    display: flex;
    flex-direction: column;
}

.form-calendar .input-container {
	width: 100%;
	margin: 2rem 0;
}

.form-calendar span {
	display: block;
	width: max-content;
	font-size: 2rem;
    color: #CB4335;
}
  
.form-calendar input {
    padding: 1rem;
	width: 100%;
    border: 0.2rem solid #ccc;
    border-radius: 0.8rem;
    outline: none;
}

.form-calendar input:focus {
	border-color: #CB4335;
}

.form-calendar button {
    position: relative;
	left: 50%;
	transform: translate(-50%, 0);
    background-color: #CB4335;
    color: white;
    padding: 1.1rem;
    border: none;
    border-radius: 1rem;
	font-size: 2.3rem;
    font-weight: bold;
	transition: 250ms ease;
}
  
.form-calendar button:hover {
	cursor: pointer;
    background-color: #a33529;
}

/* Estilos para pantallas pequeñas */

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .reserva {
        width: 100%;
        margin: 0;
    }
}