*{
    font-family: Arial, Helvetica, sans-serif;
}
.ticket-box{
    display: grid;
    place-items: center;
    width: auto;
    height: auto;
}
.title-ticket{
    background-color: rgba(13, 236, 54, 0.777);
    border-radius: 0.8rem;
    width: 35.5rem;
    height: 4rem;
    border: solid;
    margin: 1px;
}
.info-ticket{
    background-color: rgba(156, 152, 152, 0.286);
    border-radius: 0.8rem;
    position: relative;
    border: solid;
    width: 25rem;
    right: 5.3rem;
}
.number-ticket{
    display: grid;
    place-items: center;
    border-radius: 0.8rem;
    position: relative;
    top: -24.5rem;
    right: -12.8rem;
    border: solid;
    width: 10rem;
    height: 24.3rem;
}
.all-tickets{
    display: flex;
}
.menu{
    position: relative;
    right: -25.55rem;
    top: -0.2rem;
}
.show-menu{
    background-color: white;
    z-index: 9000;
    height: 24.3rem;
    width: 10rem;
    position: relative;
    top: -3rem;
    border-radius: 0.8rem;
    display: none;
}
.show-menu.visible {
    display: block;
  }
#show-inf{
    position: relative;
    right: -2rem;
    top: 2.4rem;
    list-style: none;
}
#info-icon:hover + .show-menu{
    display: block;
}
#t-ticket{
    position: relative;
    width: max-content;
    top: -0.5rem;
    right: -5rem;
}
#info-icon{
    position: relative;
    right: -4.2rem;
    top: -3.4rem;
    font-size: 24px;
    border-radius: 2rem;
    cursor: pointer;
    box-shadow: 0px 0px 11px 0.2rem rgb(241, 237, 237);
}
#info-icon:hover{
    color: rgb(243, 243, 243);
}
#t-info{
    margin: 1rem;
}
#n-ticket{
    font-size: 5rem;
}
#d-info{
    margin: 0 1.1rem;
}
#m-info {
    position: relative;
    right: 1.7rem;
    top: -2rem;
}
#m-desc{
    position: relative;
    right: 1.7rem;
    top: -2.3rem;
}
  