{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservas</title>
    <link rel="stylesheet" href="{% static 'reserve/styles/types.css' %}">
</head>
<body>

    <header>
        <h1>Reservas</h1>
    </header>

    <a href="">
        <button>Inicio</button>
    </a>
    <hr>

<div class="container">

    <div class="reserva">
         <h2 class="reservas">Canchas de Futbol</h2>
         <img src="{% static 'reserve/images/court.jpg' %}" width="400" />
         <p>!Reserva ya tu cancha de Futbol!</p>

            <div id = "letra">
                 <label for="fecha">Fecha de Reserva:</label>
                 <input type="date" id="fecha" name="fecha" required>
            </div>

            <div id = "letra">
                <label for="personas">Número de Personas que asistirán a la reserva:</label>
                <input type="number" id="personas" name="personas" required>
            </div>
    
        <button type="submit"> 
            <span>Confirmar reserva</span>
        </button>
    </div>
    
</div>
    
</body>
</html>