{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'tournament/team.css' %}">
    <title>Crear equipo</title>
</head>
<body>
    <div class="mainBox">
        <form class="form">
            <fieldset class="box">

                <legend class="box__legend">
                    <img src="{% static 'tournament/images/group.png' %}" class="box__legend-img">
                    <input type="file" class="box__legend-input">
                </legend>

                <div class="box__pass">
                    <div class="box__pass-container" id="newpass1">
                        <input class="box__pass-container-input" name="newpass1" type="text" placeholder="Nombre del equipo">
                    </div>
                    <div class="box__pass-container" id="newpass2">
                        <select>
                            <option value="">Color del equipo...</option>
                            <option value="Azul">Azul</option>
                            <option value="Rojo">Rojo</option>
                            <option value="Amarillo">Amarillo</option>
                            <option value="Verde">Verde</option>
                            <option value="Morado">Morado</option>
                            <option value="Rosa">Rosa</option>
                            <option value="Negro">Negro</option>
                            <option value="Blanco">Blanco</option>
                        </select>
                    </div>
                </div>
    
                <div class="box__containerSubmit">
                    <button class="box__containerSubmit-button" type="submit">Guardar</button>
                </div>

                <div class="box__containerLogo">
                    <a href="#"><img class="box__containerLogo-img" src="{% static 'register/images/logo.png' %} " alt="Logo"></a>
                </div>
            </fieldset>
        </form>
        <div class="cancel">
            <a class="cancel__link" href="#">Cancelar</a>
        </div>
    </div>
    <script
        src="https://kit.fontawesome.com/81581fb069.js"
        crossorigin="anonymous"
    ></script>
</body>
</html>