* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

html {
    font-size: 100%;
}

body {
    display: grid;
    place-items: center;
    padding: 1rem;
}

h1 {
    text-align: center;
}

.tournament-status {
    display: inline-block;
    margin-bottom: 1.5rem;
    padding-bottom: 0.5rem;
    font-size: 2.3rem;
}

.indicate-winner {
    display: grid;
    place-items: center;
}

.indicate-winner div {
    border: 0.4rem solid transparent;
    display: grid;
    place-items: center;
    padding: 1rem;
    border-radius: 1.5rem;
}

.indicate-winner span {
    display: block;
}

.indicate-winner #winner, #tied {
    font-size: 2rem;
    font-weight: bold;
}

.form {
    display: grid;
    width: fit-content;
    justify-self: center;
    overflow-x: visible;
}

.form .img-container {
    display: grid;
    place-items: center;
    margin-top: 4.5rem;
    width: 100%;
}

.form .img-container img {
    position: absolute;
    width: 10rem;
    height: 5rem;
}

table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    margin-top: 1.35rem;
}

table, th, td {
    border: 0.05rem solid #ababab;
}

th, td {
    font-size: 1.1rem;
    padding: 0.8rem;
    text-align: left;
}

th {
    border: 0.15rem solid #CB4335;
    padding: 0;
}

th div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 5rem;
    margin: 1rem;
}

th div span {
    text-align: center;
}

th div button {
    position: relative;
    width: 1.6rem;
    height: 1.6rem;
    left: 50%;
    transform: translate(-50%, 0);
    border: 0;
    background-color: #CB4335;
    border-radius: 0.3rem;
    box-shadow: -0.1rem 0.1rem #696969;
    color: #FBFCFC;
    transition: 200ms ease;
    cursor: pointer;
}

th div button:hover {
    background-color: #ff2c14;
}

td span {
    display: grid;
    place-items: center;
    font-size: 1.5rem;
}

td span input {
    font-size: 1.5rem;
    width: 3.5rem;
    border: 0.05rem solid #cbcbcb;
    border-radius: 0.2rem;
}

td span input:disabled {
    border: 0;
    background-color: transparent;
    color: black;
}

img {
    width: 3.5rem;
    height: 3.5rem;
}

.score_value input {
    position: relative;
    left: 50%;
    transform: translate(-25%, 0);
    font-size: 2rem;
    font-weight: bold;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.buttons__container {
    margin: 0 0.2rem;
}

#save {
    display: grid;
    place-items: center;
}

.sure-container {
    display: none;
    margin-top: 2rem;
    font-size: 1.3rem;
}

.sure-container-links {
    margin-top: 0.5rem;
}

.sure-container-links a {
    padding: 0.25rem;
    margin: 0 0.4rem;
    font-size: 1.5rem;
    border-radius: 0.35rem;
    color: #CB4335;
    background-color: #FBFCFC;
    text-decoration: none;
}

.buttons__container button {
    padding: 0.8rem 1.25rem;
    font-size: 1rem;
    background-color: #CB4335;
    color: #FBFCFC;
    border: none;
    cursor: pointer;
    border-radius: 0.4rem;
}

.buttons__container button:hover {
    background-color: #ba3e30;
}

.buttons__container button#submit {
    background-color: #4CAF50;
}

.buttons__container button#submit:hover {
    background-color: #45a049;
}

@media (max-width: 995px) {
    html {
        font-size: 80%;
    }
}