* {
    margin: 0;
    padding: 0;
    font-family: arial;
}

html {
    font-size: 16px;
}

body {
    background-color: #FBFCFC;
}

.mainBox {
    margin: 12vh auto;
    height: 672px;
    width: 68rem;
}

.left {
    display: grid;
    align-items: center;
    float: left;
    height: 100%;
}

.left__logo-img {
    height: 15rem;
}

.left__centrador {
    display: grid;
    place-items: center;
}

.left__flechaAndImgs {
    display: flex;
}

.left__flecha {
    display: inline-block;
    margin: auto 1rem;
}

.left__flecha-button {
    font-size: 1.5rem;
    padding: 0.6rem 0.725rem;
    border-radius: 50%;
    border: 2px solid transparent;
    background-color: #CB4335;
    color: #FBFCFC;
    box-shadow: 0.2rem 0.2rem #696969;
    transition: 120ms;
    transition-timing-function: ease-in;
}

.left__flecha-button:hover {
    color: #CB4335;
    background-color: #FBFCFC;
    border-color: #CB4335;
    box-shadow: none;
    cursor: pointer;
}

.left__imgs {
    display: inline-flex;
    margin: auto;
    padding: 1rem;
}

.left__imgs-img {
    height: 20rem;
    width: 20rem;
    border: 2px solid #CB4335;
    border-radius: 5%;
    box-shadow: 0 0 0.2rem #CB4335;
}

.left__circles {
    margin: 1.5rem 0;
}

.left__circles-circle {
    display: inline;
    padding: 0.35rem 0.8256rem;
    border: 1px solid black;
    border-radius: 50%;
    margin: 0.5rem;
    transition: 150ms;
    transition-timing-function: ease-in;
}

.right {
    display: grid;
    place-items: center;
    float: right;
    height: 100%;
}

.right__box {
    display: grid;
    place-items: center;
    padding: 2.8rem 0;
    width: 26rem;
    border: 3px solid black;
    border-radius: 3%;
    background-color: #F8F9F9;
    box-shadow: 0.2rem 0.2rem 0.8rem grey;
}

.right__box-title {
    margin-bottom: 1rem;
}


.right__box-title-h1 {
    font-weight: 300;
    font-size: 2.5rem;
}

.right__box-inputs-div {
    display: grid;
    place-content: center;
    margin-bottom: 1rem;
}

.right__box-inputs-div-input {
    font-size: 1.2rem;
    width: 18rem;
    padding: 0.5rem 0;
    padding-left: 0.2rem;
    border: 0;
    outline: none;
    border-bottom: 2px solid black;
    background-color: transparent;
}

.right__box-inputs-div-input:focus {
    border-bottom: 2px solid #CB4335;
}

.right__box-inputs-div-input::placeholder {
    color: rgba(128, 128, 128, 0.582);
}

#signinSubmit {
    margin-top: 1rem;
    width: 9rem;
    border: 2px solid transparent;
    border-radius: 10px;
    background-color: #CB4335;
    color: #FBFCFC;
    box-shadow: 0.2rem 0.2rem #696969;
    transition: 150ms;
}

#signinSubmit:hover {
    cursor: pointer;
    border: 2px solid #CB4335;
    background-color: #FBFCFC;
    color: #CB4335;
    box-shadow: none;
}

.right__box-signup {
    margin-top: 1.5rem;
}

.right__box-signup-a {
    color: #CB4335;
    text-decoration: none;
}

.right__box-signup-a:hover {
    text-decoration: underline;
}