{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Lista de Productos</title>
</head>
<body>
    <h1>Lista de Productos</h1>
    <ul>
    <div>
        {% for product in products %}

            <li>{{ product.name }} - {{ product.cost }} -  </li>
            <tr>
                <td>{{ product.name }}</td>
                <!-- ... -->
                <td>
                    <a href="{% url 'edit_product' product.pk %}">Editar</a> |
                    <a href="{% url 'delete_product' product.pk %}">Eliminar</a> |
                    <a href="{% url 'quantity_product' product.pk %}">Agregar Cantidad</a>
                </td>
            </tr>
        {% endfor %}
        <h1>¿Deseás crear más productos?</h1>
        <div>
            <a href="{% url 'create_product' %}">Crear Producto</a>
        </div>
    </div>
    </ul>
</body>
</html>
