* {
    font-family: Arial;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #CB4335;
}

html {
    font-size: 100%;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main__left{
    position: relative;
    top: 1.6rem;
    display: grid;
    place-items: center;
    margin-right: 2.5rem;
}

.main__left-titleContainer, .main__right-titleContainer {
    margin-bottom: 1rem;
}

.main__left-form{
    display: grid;
    place-items: center;
    padding: 0 1rem;
    height: 30rem;
    border: 0.2rem solid var(--primary-color);
    border-radius: 0.8rem;
}

.groupInf {
    display: flex;
}

.main__left-form-inf {
    margin: 1rem;
}

.main__left-form-inf label {
    color: #383838;
}

.main__left-form-inf input, .main__left-form-inf select{
    display: block;
    width: 12rem;
    height: 2rem;
    text-align: left;
    border: 0.15rem solid #CCD1D1;
    border-radius: 0.4rem;
    font-size: 1.3rem;
    outline: none;
}

.main__left-form-inf input:focus, .main__left-form-inf select:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0.15rem #d8766b;
}

.main__left-form-submitContainer {
    display: flex;
    justify-content: end;
    width: 100%;
    margin-top: 2rem;
}

.main__left-form-submitContainer-submit {
    position: relative;
    bottom: 1.5rem;
    right: 1.5rem;
    padding: 0.5rem 0.8rem;
    border: 0.15rem solid transparent;
    font-size: 1rem;
    border-radius: 0.35rem;
    box-shadow: 0.2rem 0.2rem #696969;
    color: #FBFCFC;
    background-color: #228B22;
    text-decoration: none;
    transition: 120ms;
    transition-timing-function: ease-in;
}

.main__left-form-submitContainer-submit:hover {
    cursor: pointer;
    color: #228B22;
    border-color: #228B22;
    background-color: #FBFCFC;
    box-shadow: none;
}

#cancelChanges {
    margin-right: 9rem;
    background-color: var(--primary-color);
}

#cancelChanges:hover {
    color: var(--primary-color);
    border-color: var(--primary-color);
    background-color: #FBFCFC;
}

.main__left-cancel {
    position: relative;
    top: 0.75rem;
}

.main__left-cancel a {
    font-size: 1.2rem;
    color: var(--primary-color);
    text-decoration: none;
}

.main__left-cancel a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.main__right {
    display: grid;
    place-items: center;
}

.main__right-titleContainer-title {
    display: grid;
    place-items: center;
}

.main__right-list {
    height: 30rem;
    width: 15rem;
    overflow: auto;
    border: 0.2rem solid black;
    border-radius: 0.8rem;
}

.main__right-list-adversiment {
    position: relative;
    top: 30%;
    display: grid;
    place-items: center;
    opacity: 40%;
}

.main__right-list-adversiment-img {
    width: 5rem;
    height: 5rem;
}

.main__right-list-adversiment-span {
    font-size: 1.1rem;
    font-weight: 500;
}

.main__right-list a {
    text-decoration: none;
    color: black;
}

.main__right-list-item {
    padding: 0.8rem 0.4rem;
    font-size: 1.1rem;
    border-bottom: 0.15rem solid #CCD1D1;
}

.main__right-list-item:hover {
    cursor: pointer;
    background-color: #CCD1D1;
}

.main__right-list-item i {
    margin-right: 0.5rem;
}

.main__right-team {
    display: grid;
    place-items: center;
    position: absolute;
    margin-top: 42rem;
}

.main__right-team-img {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    border: 0.15rem solid black;
}

.main__right-team-title {
    display: block;
    font-size: 2.2rem;
    -webkit-text-stroke: 0.08rem black;
}

@media (max-width: 840px) {
    .main {
        display: grid;
        place-items: center;
    }

    .main__left {
        margin: 2rem 0;
        margin-bottom: 5rem;
    }
}