@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
	--primary-color: #CB4335;
	--background-color: #FBFCFC;
	--dark-color: #000000;
}

html {
	font-size: 62.5%;
	font-family: 'Poppins', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ********************************** */
/*             UTILIDADES             */
/* ********************************** */
.container {
	max-width: 120rem;
	margin: 0 auto;
}

.heading-1 {
	text-align: center;
	font-weight: 500;
	font-size: 3rem;
}

/* ********************************** */
/*               HEADER               */
/* ********************************** */
.container-hero {
	background-color: var(--background-color);
}

.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 0;
}

.customer-support {
	margin-left: 2rem;
	width: 18rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

#whatsappIcon {
	color: var(--primary-color);
	margin-right: 1rem;
}

.numberTop {
	font-size: 1.6rem;
	font-weight: 600;
}

.container-button-db a {
	text-decoration: none;
}

.button-db {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.6rem 1.2rem;
	color: var(--background-color);
    background-color: var(--primary-color);
    border: 0.3rem solid transparent;
    border-radius: 0.75rem;
    box-shadow: 0.2rem 0.2rem #696969;
    transition: 120ms;
    transition-timing-function: ease-in;
}

.button-db:hover {
	cursor: pointer;
    color: #CB4335;
    border-color: #CB4335;
    background-color: #FBFCFC;
    box-shadow: none;
}

.button-db span {
	margin-left: 1rem;
	font-size: 1.45rem;
}

.customer-support i {
	font-size: 3.3rem;
}

.content-customer-support {
	display: flex;
	flex-direction: column;
}

.logo{
	background-image: url('../register/images/logo.png');
	height: 10rem;
	width: 20rem;
	background-size: cover;
	background-position: center;
}

.container-logo {
	position: relative;
	left: 3.5rem;
	display: grid;
	place-items: center;
	gap: 0.5rem;
}

.container-logo i {
	font-size: 3rem;
}

.container-logo h1 a {
	text-decoration: none;
	color: #000;
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: -1px;
}

.container-user {
	display: flex;
	justify-content: center;
	margin-right: 2rem;
	width: 26rem;
}

.container-user a img {
	position: relative;
	top: 0.2rem;
	margin-left: 1.5rem;
	border-radius: 50%;
	border: 0.2rem solid var(--primary-color);
	height: 7rem;
	width: 7rem;
}

.container-user .fa-basket-shopping {
	font-size: 4rem;
	color: var(--primary-color);
}

.carAndPerfil {
	display: grid;
	place-content: center;
	margin: 0 2rem;
	height: 5rem;
	width: 5rem;
}

.carAndPerfil:hover {
	cursor: pointer;
}

.linkUser {
	position: relative;
	bottom: 0rem;
	padding: 0.5rem 1rem;
	font-size: 1.8rem;
	font-weight: 500;
	text-decoration: none;
	color: var(--primary-color);
	border: 0.1rem solid var(--primary-color);
	border-left: 0.3rem solid var(--primary-color);
	border-bottom: 0.3rem solid var(--primary-color);
	border-radius: 0.5rem;
	transition: 70ms ease-in;
}

.linkUser:hover {
	bottom: 0.1rem;
	box-shadow: 0 0 0.2rem 0.2rem #CCD1D1;
}

/* ************* NAVBAR ************* */
.container-navbar {
	padding: 0.8rem 0;
	background-color: var(--primary-color);
}

.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem 0;
}

.navbar .fa-bars {
	display: none;
}

.navbar .fa-bars:hover {
	cursor: pointer;
}

.menu {
	display: flex;
	gap: 2rem;
}

.menu li {
	list-style: none;
}

.menu a {
	text-decoration: none;
	font-size: 1.55rem;
	color: var(--background-color);
	font-weight: 600;
	position: relative;
}

.menu a::after {
	content: '';
	width: 1.5rem;
	height: 1px;
	background-color: #fff;
	position: absolute;
	bottom: -3px;
	left: 50%;
	transform: translate(-50%, 50%);
	opacity: 0;
	transition: all 0.3s ease;
}

.menu a:hover::after {
	opacity: 1;
}

.menu a:hover {
	color: #fff;
}

.menuDropDown {
	display: none;
}

.search-form {
	position: relative;
	display: flex;
	align-items: center;
	border: 2px solid #fff;
	border-radius: 2rem;
	background-color: #fff;
	height: 4.4rem;
	overflow: hidden;
}

.search-form input {
	outline: none;
	font-family: inherit;
	border: none;
	width: 25rem;
	font-size: 1.4rem;
	padding: 0 2rem;
	color: #777;
	cursor: pointer;
}

.search-form input::-webkit-search-cancel-button {
	appearance: none;
}

.search-form .btn-search {
	border: none;
	background-color: var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 1rem;
}

.btn-search i {
	font-size: 2rem;
	color: #fff;
}

@media (max-width: 768px) {
	html {
		font-size: 55%;
	}

	.hero {
		padding: 2rem;
	}

	.customer-support {
		display: none;
	}

	.content-shopping-cart {
		display: none;
	}

	.navbar {
		display: grid;
		place-items: center;
		padding: 1rem 0;
	}

	.navbar .fa-bars {
		display: block;
		color: #fff;
		font-size: 3rem;
	}

	.menu {
		display: none;
	}

	.menuDropDown {
		position: absolute;
		margin-top: 22rem;
		display: grid;
		place-items: center;
		background-color: #CB4335;
		border-bottom-right-radius: 0.8rem;
		border-bottom-left-radius: 0.8rem;
	}

	.menuDropDown li {
		list-style: none;
		margin: 0.5rem 0.5rem;
	}

	.menuDropDown a {
		text-decoration: none;
		font-size: 1.9rem;
		color: var(--background-color);
		font-weight: 600;
		text-transform: uppercase;
		position: relative;
	}

	.menuDropDown a::after {
		content: '';
		width: 1.5rem;
		height: 1px;
		background-color: #fff;
		position: absolute;
		bottom: -3px;
		left: 50%;
		transform: translate(-50%, 50%);
		opacity: 0;
		transition: all 0.3s ease;
	}

	.menuDropDown a:hover::after {
		opacity: 1;
	}

	.menuDropDown a:hover {
		color: #fff;
	}
}