body {
    font-family: Arial, sans-serif;
}

.main {
    margin: 2rem 1.5rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 0.05rem solid #ababab;
    padding: 0.6rem;
    text-align: left;
}

th {
    background-color: #b74033;
    color: #FBFCFC;
    border: 0.15rem solid black;
}

tr:hover {
    cursor: pointer;
    background-color: #e7e8e8 !important;
}

@media (max-width: 880px) {
    .userInf {
        display: none;
    }
}

@media (max-width: 590px) {
    .status {
        display: none;
    }
}

@media (max-width: 500px) {
    .date {
        display: none;
    }
}

@media (max-width: 390px) {
    .paymentType {
        display: none;
    }
}