body {
    font-family: Arial, sans-serif;
}

.main {
    margin: 2rem 1.5rem;
}

.export {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.export button {
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    padding: 0.4rem;
    border-radius: 0.3rem;
    border: none;
    background-color: #e1e1e1;
    cursor: pointer;
    transition: 250ms ease;
}

.export button:hover {
    text-decoration: underline;
    background-color: #cecece;
}

.export button i {
    color: #b74033;
}

.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.status-filter-container {
    display: grid;
    place-items: center;
    order: 1;
}

.status-filter-title {
    font-size: 1.4rem;
    font-weight: 600;
}

.status-filter-container, .date-filter-container {
    display: flex;
}

.status-filter-container .filter-container {
    display: flex;
    align-items: center;
    margin: 0 0.75rem;
    font-size: 1.2rem;
}

.status-filter-container .filter-container span {
    width: max-content;
}

.status-filter-container .filter-container input {
    margin-left: 0.2rem;
    height: 1.8rem;
    width: 1.8rem;
    cursor: pointer;
}

.date-filter-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.8rem;
    order: 2;
}

.date-filter-container .filter-container {
    display: grid;
    place-items: center;
}

.date-filter-container .filter-container span {
    display: block;
    margin-bottom: 0.3rem;
    font-size: 1.2rem;
    font-style: italic;
}

.date-filter-container .filter-container select, .date-filter-container .filter-container input {
    text-align: center;
    height: 1.8rem;
    width: 100%;
    font-size: 1.22rem;
    font-weight: bold;
    border: 0;
    border-bottom: 0.2rem solid #b74033;
    border-left: 0.15rem solid #b74033;
    outline: none;
}

.date-filter-container .filter-container select {
    appearance: none;
    cursor: pointer;
}

.date-filter-container .filter-container select option {
    color: black;
}

.date-filter-container .filter-container input::placeholder {
    color: #b74033;
}

.calc-money {
    order: 3;
}

.button-calc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 29.5rem;
}

.button-calc-container #indicate-date, .button-calc-container #watch-calculated-money{
    display: block;
}

.button-calc-container #indicate-date {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    font-style: oblique;
}

.button-calc-container #watch-calculated-money {
    font-size: 1.6rem;
    font-weight: bold;
}

.box__right-list-none {
    position: absolute;
    display: none;
    place-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
}

.box__right-list-none-img {
    height: 8.5rem;
    opacity: 50%;
}

.box__right-list-none-span {
    font-size: 1.5rem;
    opacity: 70%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 0.05rem solid #ababab;
    padding: 0.6rem;
    text-align: left;
}

th {
    background-color: #b74033;
    color: #FBFCFC;
    border: 0.15rem solid black;
}

tr:hover {
    cursor: pointer;
    background-color: #e7e8e8 !important;
}

@media (max-width: 880px) {
    .userInf {
        display: none;
    }

    .filters {
        flex-direction: column;
        gap: 2.5rem;
    }
}

@media (max-width: 590px) {
    .status {
        display: none;
    }
}

@media (max-width: 500px) {
    .status-filter-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .date {
        display: none;
    }
}

@media (max-width: 390px) {
    .paymentType {
        display: none;
    }
}