<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Términos y Condiciones</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 20px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1 class="mt-5">Términos y Condiciones</h1>

    <div class="mt-4">
      <h2>Venta de Productos</h2>
      <p>Esta sección describe los términos y condiciones relacionados con la venta de productos de nuestra empresa.</p>
        <b>Compra de Productos:</b>
        Al realizar una compra de productos a través de nuestro sitio web, el cliente acepta que los productos estarán sujetos a disponibilidad y podrían estar limitados a ciertas áreas geográficas. Nos reservamos el derecho de rechazar o cancelar cualquier pedido en cualquier momento.
        <br>
        <br>
        <b>Precios y Pagos:</b>
        Los precios de los productos están sujetos a cambios sin previo aviso. Todos los pagos deben realizarse de acuerdo con los métodos de pago disponibles en nuestro sitio web. El cliente se compromete a proporcionar información precisa y completa para el proceso de pago.
        <br>
        <br>
        <b>Política de Devoluciones:</b>
        Nuestra política de devoluciones se rige por los términos especificados en la sección de Devoluciones de nuestro sitio web. Se aplican ciertas condiciones y restricciones a las devoluciones, incluidos los plazos y el estado del producto.
    </div>

    <div class="mt-4">
      <h2>Reservas de Eventos</h2>
      <p>Esta sección describe los términos y condiciones relacionados con la reserva de eventos organizados por nuestra empresa.</p>
        <b>Reserva de Eventos:</b>
        Al realizar una reserva para un evento a través de nuestro sitio web, el cliente acepta que la reserva está sujeta a disponibilidad y confirmación por parte de nuestra empresa. Nos reservamos el derecho de rechazar o cancelar reservas en cualquier momento.
        <br>
        <br>
        <b>Modificación y Cancelación:</b>
        Cualquier solicitud de modificación o cancelación de una reserva debe realizarse dentro de los plazos especificados en nuestra política de reservas. Las políticas de reembolso, si corresponde, se describen en detalle en nuestro sitio web.
    </div>

    <div class="mt-4">
      <h2>Registro de Usuarios</h2>
      <p>Esta sección describe los términos y condiciones relacionados con el registro y uso de la información de los usuarios en nuestro sitio web.</p>
        <b>Registro de Cuentas de Usuario: </b>
        Al registrar una cuenta de usuario en nuestro sitio web, el usuario se compromete a proporcionar información precisa y actualizada durante el proceso de registro. Cada usuario es responsable de mantener la confidencialidad de su cuenta y contraseña.
        <br>
        <br>
        <b>Uso Responsable:</b>
        Los usuarios se comprometen a utilizar su cuenta de manera responsable y cumplir con todas las leyes y regulaciones aplicables. No se permite el uso de la cuenta para actividades ilegales, inapropiadas o que violen los derechos de terceros.
        <br>
        <br>
        <b>Protección de Datos:</b> 
        Nuestra política de privacidad describe cómo recopilamos, almacenamos y utilizamos la información personal de los usuarios. Al registrarse, los usuarios aceptan nuestra política de privacidad y la forma en que manejamos sus datos personales.
    </div>

    <footer class="mt-4">
      <p>Estos términos y condiciones están sujetos a cambios sin previo aviso. Última actualización: 23 de septiembre de 2023.</p>
    </footer>
  </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
</body>
</html>