<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/IMAGENES/bolipola.jpeg" />
    <link rel="stylesheet" href="bolipola.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inscripcion</title>
</head>
<body>
    <div class="pagina">
        <div class="pagina-estilo">
        <form  autocomplete="off"> <br>
                <input type="text" class="inscri" placeholder="Digite su cedula" maxlength="10" required pattern="\d" {10}><br>
                <input type="text" class="inscri" placeholder="Nombre De Equipo" required><br>
                <input type="number" class="inscri" placeholder="Cantidad De Jugadores" max="8" id="equipo" required><br>
                    Metodo de pago de inscripcion <br><br>
                        <select id="select1" required>
                            <option value=""></option>
                            <option value="Efectivo">Efectivo</option>
                            <option value="Nequi">Nequi</option>
                        </select><br>
                <input type="submit" value="INSCRIBIRSE"><br>
            </form>
        </div>
    </div>
</body>
</html>