#s1 {
    background-color: #F9E79F;
}

#s2 {
    background-color: #ABEBC6;
}

#s3 {
    background-color: #DE3163;
}

#s1:hover, #s2:hover, #s3:hover {
    background-color: #e7e8e8;
}