* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

html {
    font-size: 17px;
}

body {
    display: grid;
    place-items: center;
    height: 95vh;
}

.mainBox {
    display: grid;
    place-items: center;
}

.box {
    display: grid;
    padding: 3rem 4.5rem;
    place-items: center;
    background-color: #FBFCFC;
    border: 0.2rem solid #CB4335;
    border-style: solid;
    border-radius: 1rem;
}

.box__legend {
    display: flex;
    top: 1.4rem;
    margin: auto;
    position: relative;
}

.box__legend-img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 0.2rem solid #CB4335;
}

.box__legend-input {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    opacity: 0;
}

.box__legend-input:hover {
    cursor: pointer;
}

.box__pass-container {
    display: grid;
    place-items: center;
    width: 100%;
    margin-bottom: 2rem;
    font-size: 1.08rem;
    font-weight: bold;
}

.box__pass-container-label {
    display: block;
}

.box__pass-container-input, select {
    display: block;
    padding: 0.4rem 0;
    padding-left: 0.3rem;
    width: 15rem;
    font-size: 1.1rem;
    text-align: left;
    border: 0.15rem solid #CCD1D1;
    border-radius: 0.4rem;
    outline: none;
    background-color: transparent;
    color: gray;
}

.box__pass-container-input:focus, select:focus {
    border-color: #CB4335;
    box-shadow: 0 0 0.15rem #d8766b;
    color: black;
}

.box__containerSubmit-button {
    padding: 0.5rem 0.8rem;
    margin: 0 1.8rem;
    border: 0.15rem solid transparent;
    font-size: 1rem;
    border-radius: 0.35rem;
    color: #FBFCFC;
    background-color: #228B22;
    box-shadow: 0.2rem 0.2rem #696969;
    transition: 120ms;
    transition-timing-function: ease-in;
}

.box__containerSubmit-button:hover {
    cursor: pointer;
    color: #228B22;
    border-color: #228B22;
    background-color: #FBFCFC;
    box-shadow: none;
}

.box__containerLogo {
    position: absolute;
    margin-top: 17.5rem;
}

.box__containerLogo-img {
    width: 5rem;
}

.cancel {
    margin-top: 2rem;
}

.cancel__link {
    color: #CB4335;
    text-decoration: none;
}

.cancel__link:hover {
    text-decoration: underline;
}