{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="icon" href="{% static 'favicon/logo.png' %}" type="image/x-icon">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'sale/sale.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="centrador">
        <form action="" method="post" class="form">
            {% csrf_token %}
            <fieldset class="main">
                <legend class="main__legend">
                    <img src="{% static 'register/images/logo.png' %}" alt="logo" class="main__legend-img">
                </legend>
                <div class="main__inf">
                    <div class="main__titleContainer">
                        <input type="text" class="main__titleContainer-title" value="{{ type_name }}" readonly>
                    </div>
                    <div class="main__inf">
                        <div class="main__inf-item">
                            <span>Tipo de pago:</span>
                            {{ form.payment_type }}
                        </div>

                        <div style="display: none;">
                            {{ form.type }}
                        </div>

                        <!--Caso de venta torneo-->
                        {% if type_name == 'Torneo'%}

                        <div class="main__inf-item">
                            <span>Nombre del torneo:</span>
                            <input type="text" value="{{ inf.name }}" readonly>
                        </div>

                        <div class="main__inf-item">
                            <span>Fecha de inicio:</span>
                            <input type="text" value="{{ inf.date.date }}" readonly>
                        </div>
                    
                        <div class="main__inf-item">
                            <span>Costo de inscripción:</span>
                            <input type="text" value="{{ inf.cost_to_money }}" readonly>
                        </div>

                        <div class="main__inf-item">
                            <span>Premio:</span>
                            <input type="text" value="{{ inf.payment_to_money }}" readonly>
                        </div>
                        
                        <!--Caso de venta reserva-->
                        {% elif type_name == 'Reserva' %}
                        
                        <div class="main__inf-item">
                            <span>Tipo:</span>
                            <input type="text" value="{{ inf.type }}" readonly>
                        </div>
                        
                        <div class="main__inf-item">
                            <span>Hora de inicio:</span>
                            <input type="text" value="{{ inf.date }}" readonly>
                        </div>

                        <div class="main__inf-item">
                            <span>Hora de inicio:</span>
                            <input type="text" value="{{ inf.start_time }}" readonly>
                        </div>

                        <div class="main__inf-item">
                            <span>Hora fin:</span>
                            <input type="text" value="{{ inf.end_time }}" readonly>
                        </div>
                    
                        <div class="main__inf-item">
                            <span>Costo:</span>
                            <input type="text" value="{{ inf.cost_to_money }}" readonly>
                        </div>
                        
                        <!--Caso de venta productos-->
                        {% elif type_name == 'Productos' %}
                            {% for car_inventory in cars_inventorys %}
                            <div class="division_up">-------------------------------------</div>
                            <div class="main__inf-item">
                                <span>Nombre: </span>
                                <input type="text" value="{{ car_inventory.inventory.product.name }}" readonly>
                            </div>
                            <div class="main__inf-item">
                                <span>Precio: </span>
                                <input type="text" value="{{ car_inventory.inventory.product.cost_to_money }}" readonly>
                            </div>
                            <div class="main__inf-item">
                                <span>Cantidad: </span>
                                <input type="text" value="{{ car_inventory.quantity }}" readonly>
                            </div>
                            <div class="main__inf-item">
                                <span>Total: </span>
                                <input type="text" value="{{ car_inventory.products_price }}" readonly>
                            </div>
                            <div class="division_down">-------------------------------------</div>
                            {% endfor %}
                    
                        {% endif %}
                        {{ form.total_cost }}
                    
                        <div class="moreInf">
                            <div class="main__inf-item">
                                <span style="margin-right: 0.4rem;">Cantidad a comprar:</span>
                                {% if type_name != 'Productos' %}

                                {{ form.product_quantity }}

                                {% else %}

                                <span hidden>{{ form.product_quantity }}</span>
                                {{ inf.total_products }}

                                {% endif %}
                            </div>
                        </div>
                        <div class="bottomInf">
                            <div class="main__inf-item">
                                <span>Costo total:</span>
                                <input type="text" value="{{ inf.cost_to_money }}" readonly>
                            </div>
                        </div>
                </div>
            </fieldset>

            <div class="buttons">
                <div class="buttons_container">
                    {% if  type_name == 'Torneo' %}
                    <a href="{% url 'tournament' %}">
                    {% elif type_name == 'Productos' %}
                    <a href="{% url 'store' %}">
                    {% elif type_name == 'Reserva' %}
                    <a href="{% url 'reserve' %}">
                    {% else %}
                    <a href="{% url 'index' %}">
                    {% endif %}
                        <button type="button" class="buttons__container-button" id="cancel">Cancelar</button>
                    </a>
                </div>
                <div class="buttons__container">
                    <button type="submit" class="buttons__container-button" id="buy">Comprar</button>
                </div>
            </div>
        </form>
    </div>

    <ul hidden id="infList">
        <li>{{ type_name }}</li>
        <li>{{ inf.cost }}</li>
    </ul>
    <script src="{% static 'sale/sale.js' %}"></script>
</body>
</html>