{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="icon" href="{% static 'favicon/logo.png' %}" type="image/x-icon">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'signin/signin.css' %}">
    <link rel="stylesheet" href="{% static 'messages/signin/messages.css' %}">
    <script src="https://kit.fontawesome.com/6117eaa017.js" crossorigin="anonymous"></script>
    <title>Iniciar sesión</title>
</head>
<body>
    <div class="mainBox">
        <div class="left">
            <div class="left__centrador">
                <div class="left__logo">
                    <a href="{% url 'index' %}">
                        <img src="{% static 'signin/images/logo.png' %}" alt="Logo de la empresa" class="left__logo-img">
                    </a>
                </div>
                
                <div class="left__flechaAndImgs">
                    <div class="left__flecha">
                        <button class="left__flecha-button" id="flechaLeft"><i class="fa-solid fa-angles-left"></i></button>
                    </div>
            
                    <div class="left__imgs">
                    </div>
            
                    <div class="left__flecha">
                        <button class="left__flecha-button" id="flechaRight"><i class="fa-solid fa-angles-right"></i></button>
                    </div>
                </div>
        
                <div class="left__circles">
                    <div class="left__circles-circle" id="circle1" number=0></div>
                    <div class="left__circles-circle" id="circle2" number=1></div>
                    <div class="left__circles-circle" id="circle3" number=2></div>
                    <div class="left__circles-circle" id="circle4" number=3></div>
                    <div class="left__circles-circle" id="circle5" number=4></div>
                </div>
            </div>
        </div>
    
        <div class="right">
            <div class="right__box">
    
                <div class="right__box-title">
                    <h1 class="right__box-title-h1">Iniciar sesión</h1>
                </div>
    
                <div class="right__box-inputs">
                    <form class="theForm" method="POST">
                        {% csrf_token %}
                        <div class="right__box-inputs-div">
                            {{ form.username }}
                        </div>
                        <div class="right__box-inputs-div">
                            {{ form.password }}
                        </div>
    
                        <div class="right__box-inputs-div">
                            <button type="submit" class="right__box-inputs-div-input" id="signinSubmit"><i class="fa-solid fa-right-to-bracket"></i> Entrar</button>
                        </div>
                    </form>
                </div>
                
                <div class="right__box-signup">
                    <a class="right__box-signup-a" href="{% url 'register' %}" >¿Crear cuenta?</a>
                </div>
                
                {% if messages %}
                    {% for msg in messages %}
                    <div class="message-container">
                        <span group="messages"
                        class="
                            {% if msg.tags == 'success' %}message-success{% endif %}
                            {% if msg.tags == 'error' %}message-error{% endif %}
                            {% if msg.tags == 'info' %}message-info{% endif %}
                        "
                        >
                            {{ msg.message|safe }}
                        </span>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    <script>
        let staticUrl = "{% static '' %}";
    </script>
    <script type="text/javascript" src="{% static 'signin/rotacionImgs.js' %}"></script>
</body>
</html>