.message-container {
    margin-top: 1.35rem;
}

.message-success {
    background-color: #c9e8de;
    color: #014f2a;
}

.message-info {
    background-color: #fff3cc;
    color: #704c01;
}

.message-error {
    background-color: #ffd8db;
    color: #991723;
}

span[group="messages"] {
    display: flex;
    padding: 0.6rem 0.75rem;
    align-items: center;
    justify-content: left;
    height: 100%;
    border-radius: 0.5rem;
    font-size: 1.7rem;
    font-weight: 600;
}

span[group="messages"] i {
    margin-right: 0.6rem;
}