html {
    font-size: 100%;
}

.container {
    display: flex;
    justify-content: center;
    padding: 1.2rem;
}

.admin {
    margin: 2rem 0;
    display: grid;
    place-items: center;
}

.admin button {
    font-size: 1.8rem;
}

.admin button:hover {
    background-color: #a33529;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reserva {
    background-color: #fff;
    padding: 1.4rem;
    margin: 0 1rem;
    border: 1px solid #CB4335; 
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 75%;
    width: 75%;
}

.reserva p{
    font-size: 2.2rem;
    padding: 1rem;
    margin: 1rem;
}

.reserva h2 {
    background-color: #CB4335; 
    color: #fff;
    padding: 10px;
    margin: 0 0 10px 0;
}

.reference-img {
    width: 25em;
    height: 25em;
}

button[type="submit"], a button {
    background-color: #CB4335; 
    color: #fff;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover, a button:hover {
    background-color: #CB4335; 
}