.list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 50px;
    color: var(--background-color);
}

.list .item{
	text-align: center;
	padding: 20px;
	letter-spacing:1;
	transition: all 0.25s;
	border: solid black 1px;
}

.list .item:hover{
	transform: translateY(-15px);
	box-shadow: 0 12px 16px rgb(240, 52, 52);
}
.list .item img{
    width: 90%;
    height: 430px;
    object-fit: cover;
}
.list .item .title{
    font-weight: 600;
	font-size: 1.4rem;
    color: #000;
}
.list .item .price{
    margin: 10px;
    color: #000;
}

.list .item .quantity {
	margin-bottom: 0.5rem;
	color: #000;
}

.list .item .description {
	margin-bottom: 1.5rem;
	font-size: 1.2rem;
	color: #000;
}

.list .item button{
	border-radius: 10px;
	background-color: #c63424;
	color: #fff;
	width: 100%;
	padding: 1rem;
	text-decoration: none;
	font-size: 1.3rem;
	font-weight: 600;
	position: relative;
}

.list .item button:hover {
	cursor: pointer;
}

.card {
	position: fixed;
    top:0;
    left: 100%;
    background-color: whitesmoke;
	width: 45rem;
    height: 100vh;
    transition: 0.5s;
	z-index: 9002;
}

.active .card{
    left: calc(100% - 45rem);
	box-shadow: 0.2rem 0 5rem black;
}

.card h1{
	display: flex;
	align-items: center;
    background-color: #CB4335;
    color: #fff;
}

.card .card__title {
	display: grid;
	place-items: center;
	padding: 1rem 0;
}

.card .card__title i {
	margin-right: 1rem;
}

.card .checkOut{
    position: absolute;
    bottom: 0;
    width: 100%;
	height: 11%;
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.card .checkOut div{
    background-color: #CB4335;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.card .checkOut .closeShopping {
    background-color: #751c1c;
    grid-column: 1/4;
}

.checkOut h1{
    background-color: #CB4335;
    color: #FBFCFC;
}

.checkOut .title {
	margin-left: 1.5rem;
	font-style: italic;
}

.checkOut .total {
	color: #FBFCFC;
	background-color: #228B22;
	border: 0;
}

.checkOut [group="down"] {
	border-radius: 0.75rem;
	margin: 0 0.2rem;
	font-size: 1.4rem;
	font-weight: bold;
}

.checkOut [group="down"]:hover {
	cursor: pointer;
}

.listCard li{
    display: grid;
	border-bottom: 0.25rem solid #CB4335;
    grid-template-columns: 100px repeat(3, 1fr);
    color: #FBFCFC;
    row-gap: 10px;
}

.listCard li div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.listCard li img{
    width: 90%;
}
.listCard li button{
    background-color: #fff5;
    border: none;
}
.listCard .count{
    margin: 0 1.3rem;
    color: #000;
    font-size: large;
}
.text-slide{
    font-size: large;
    color: #000;
}

[group="addOrDelete"] {
	display: grid;
	place-items: center;
	color: var(--background-color);
    background-color:var(--primary-color);
    border-radius: 3rem;
	padding: 0.3rem;
	font-size: 1.5rem;
}

/* ********************************** */
/*       MEDIA QUERIES -- 468px       */
/* ********************************** */
@media (max-width: 1080px) {
	.list {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 870px) {
	.list {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 520px) {
	.list {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media (max-width: 468px) {
	html {
		font-size: 42.5%;
	}

	.content-banner {
		max-width: 50rem;
		padding: 22rem 0;
	}

	.heading-1 {
		font-size: 2.8rem;
	}

	.card-feature {
		flex-direction: column;
		border-radius: 2rem;
	}

	.feature-content {
		align-items: center;
	}

	.feature-content p {
		font-size: 1.4rem;
		text-align: center;
	}

	.feature-content span {
		font-size: 1.6rem;
		text-align: center;
	}

	.container-options span {
		font-size: 1.8rem;
		padding: 1rem 1.5rem;
		font-weight: 500;
	}

	.container-products {
		grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
		gap: 1rem;
	}

	.container-img .discount {
		font-size: 2rem;
	}

	.content-card-product h3 {
		font-size: 2.2rem;
	}

	.gallery {
		grid-template-rows: repeat(2, 20rem);
	}

	.blogs {
		padding: 2rem;
	}

	.container-blogs {
		grid-template-columns: 1fr;
		height: 75rem;
	}

	.content-blog h3 {
		font-size: 2.4rem;
	}

	.content-blog span {
		font-size: 1.8rem;
	}

	.content-blog p {
		font-size: 2.2rem;
	}

	.btn-read-more{
		font-size: 1.8rem;
	}

	.contact-info ul,
	.information ul,
	.my-account ul{
		display: none;
	}

	.contact-info {
		align-items: center;
	}

	.menu-footer{
		grid-template-columns: 1fr;
	}

	.content p{
		font-size: 1.6rem;
	}
}