
.filter-form {
    margin-top: 20px;
    text-align: center;
}
.entrys_outputs {
    display: flex;
    justify-content: space-around;
}

.entries-table,
.exits-table {
    width: 45%;
    border-collapse: collapse;
    margin-top: 20px;
}

.entries-table th,
.exits-table th,
.entries-table td,
.exits-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.entries-table th,
.exits-table th {
    background-color: #28a745; /* Verde para entradas */
    color: white;
}

.exits-table th {
    background-color: #dc3545; /* Rojo para salidas */
}

.exits-table td {
    background-color: #F5B7B1;
}
.entries-table td {
    background-color: #D5F5E3;
}
.h2_entradas{
    background-color: #28a745;
    border: 1px solid black;
    margin: auto;
    padding: auto;
    text-align: center;
    color: white;
    margin-left: calc(50% - 30%);
    width: 10%;
}
.h2_salidas{
    background-color: #dc3545;
    border: 1px solid black;
    margin-top: -1.9rem;
    padding: auto;
    text-align: center;
    color: white;
    margin-left: calc(100% - 25%);
    width: 10%;
}
