@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.filter-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem 0;
    text-align: center;
}

.filter-form input {
    margin-left: 0.5rem;
    outline: none;
    border: 0.1rem solid gray;
}

.filter-form input:focus {
    box-shadow: 0 0 0.5rem 0.05rem #CB4335;
}

.filter-form button {
    background-color: #14767f;
    padding: 0.2rem 1rem;
    color: #FBFCFC;
    border-radius: 0.4rem;
    border: none;
    cursor: pointer;
    transition: 200ms ease;
}

.filter-form button:hover {
    background-color: #105c63;
}

.entrys_outputs {
    display: flex;
    justify-content: space-around;
}

.entries-table,
.exits-table {
    width: 45%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.entries-table th,
.exits-table th,
.entries-table td,
.exits-table td {
    border: 0.1rem solid black;
    padding: 0.5rem;
    text-align: left;
}

.entries-table th,
.exits-table th {
    background-color: #28a745; /* Verde para entradas */
    color: white;
}

.exits-table th {
    background-color: #dc3545; /* Rojo para salidas */
}

.exits-table td {
    background-color: #F5B7B1;
}

.entries-table td {
    background-color: #D5F5E3;
}

.h2_entradas{
    background-color: #28a745;
    margin: auto;
    padding: auto;
    text-align: center;
    color: white;
    margin-left: calc(50% - 30%);
    width: 10%;
}

.h2_salidas{
    background-color: #dc3545;
    margin-top: -1.9rem;
    padding: auto;
    text-align: center;
    color: white;
    margin-left: calc(100% - 25%);
    width: 10%;
}
