/* inventory.css */



.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

}

h1 {
    color: #dc3545;
}

/* Estilo para las tarjetas de producto */
.card {
    border: 1px solid #dc3545;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
#cardxd{
    border: 1px solid #dc3545;
    border-radius: 0.625rem;
    box-shadow: 0rem 0rem 0.313rem rgba(0, 0, 0, 0.1);
    margin-bottom: 1.25rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    margin-top: 1.25rem;
    padding: 0.625rem;
    background-color: #fff;
}

.card-title {
    font-size: 1.25rem;
    color: #dc3545;
}

.card-text {
    color: #333;
}

.card-body {
    padding: 10px;
}

/* Alineación de la imagen a la derecha */
.row img {
    width: 8rem;
    height: 10rem;
    float: left;
    margin-left: 15rem;
    position: absolute;
    object-fit: cover;
    margin: 0rem 7rem 0rem 9rem;
}
.row img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

/* Estilo para los botones */
.btn {
    margin-right: 5px;
}
