{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'profile/styles/change-password.css' %}">
    <link rel="stylesheet" href="{% static 'messages/messages.css' %}">
    <title>Cambio de contraseña</title>
</head>
<body>
    <div class="mainBox">
        <form class="form" method="post">
            {% csrf_token %}
            <fieldset class="box">
                <div class="box__pass">
                    <div class="box__pass-container" id="oldpass">
                        <span class="box__pass-container-label">Contraseña antigua</span>
                        {{ form.old_password }}
                    </div>
                    <div class="box__pass-container" id="newpass1">
                        <span class="box__pass-container-label">Nueva contraseña</span>
                        {{ form.password }}
                    </div>
                    <div class="box__pass-container" id="newpass2">
                        <span class="box__pass-container-label">Confirmar nueva contraseña</span>
                        {{ form.password2 }}
                    </div>
                </div>
    
                <div class="box__containerSubmit">
                    <button class="box__containerSubmit-button" type="submit">Aceptar</button>
                </div>

                {% if messages %}
                    {% for msg in messages %}
                    <div class="message-container">
                        <span group="messages"
                        class="
                            {% if msg.tags == 'success' %}message-success{% endif %}
                            {% if msg.tags == 'error' %}message-error{% endif %}
                            {% if msg.tags == 'info' %}message-info{% endif %}
                        "
                        >
                            {{ msg.message|safe }}
                        </span>
                    </div>
                    {% endfor %}
                {% endif %}
            </fieldset>
        </form>

        <div class="cancel">
            <a class="cancel__link" href="{% url 'profile' %}">Cancelar</a>
        </div>
    </div>
    
    <script
        src="https://kit.fontawesome.com/81581fb069.js"
        crossorigin="anonymous"
    ></script>
</body>
</html>